// ==========================================================

// 320 and Up by Andy Clarke
// Version: 3.0
// URL: http://stuffandnonsense.co.uk/projects/320andup/
// Apache License: v2.0. http://www.apache.org/licenses/LICENSE-2.0

// ==========================================================

/* 480 =================================================== */

// 1. ROOT 					==============================
// 2. TYPOGRAPHY 			==============================
// 3. COLOUR 				==============================
// 4. TEXTURE 				==============================
// 5. ELEMENTS 				==============================
// 6. LAYOUT 				==============================
// 7. VENDOR-SPECIFIC 		==============================
// 8. MODERNIZR 			==============================
// 9. TEMPLATE SPECIFICS 	==============================

.subhead {
	h1 {
		font-size: 46px;
	}
}

.page-header {
	h1 {
		font-size: 46px;
	}
	
}

/* Hero =================================================== */

.jumbo { 
	text-align: left;
	h1.top {
	   font-size: 20px;
	   padding-top: 1rem;
	   margin-left: 0;
	   }
	h1.bot {
	   font-size: 20px;
	   }
}

/* Portfolio =================================================== */
.grid-1{
.text{
	h1.etiquet{
		color: #fff;
		font-size: 28px;
		font-weight: 100;
		text-transform: uppercase;
		margin: 10px 0, 0, 0;
		line-height: .8em;
		margin-bottom: .3rem;
	}
}
}
