// ==========================================================

// 320 and Up by Andy Clarke
// Version: 3.0
// URL: http://stuffandnonsense.co.uk/projects/320andup/
// Apache License: v2.0. http://www.apache.org/licenses/LICENSE-2.0

// ==========================================================

/* 768 =================================================== */

// 1. ROOT 					==============================
// 2. TYPOGRAPHY 			==============================
// 3. COLOUR 				==============================
// 4. TEXTURE 				==============================
// 5. ELEMENTS 				==============================
// 6. LAYOUT 				==============================
// 7. VENDOR-SPECIFIC 		==============================
// 8. MODERNIZR 			==============================
// 9. TEMPLATE SPECIFICS 	==============================



/* Navigation =================================================== */
.menu-button {
     display: none;
}
.navbar {
     //position: fixed;
     width: 100%;
     padding-top: 1rem;
    .logo {
      float: left;
    }
    .nav {
    	margin-left: 37%;
	    li {
	      float: left;
	      display: inline-block;

		}
	}
}


/* Hero =================================================== */

.jumbo { 
	.text{
		top: 20px;
		
	}
	h1.top {
	   font-size: 28px;
	   padding-top: 1rem;
	   margin-left: 0;
	   }
	h1.bot {
	   font-size: 28px;
	   }
}


/* Articles =================================================== */



/* Footer =================================================== */
