// ==========================================================

// 320 and Up by Andy Clarke
// Version: 3.0
// URL: http://stuffandnonsense.co.uk/projects/320andup/
// Apache License: v2.0. http://www.apache.org/licenses/LICENSE-2.0

// ==========================================================

/* 992 =================================================== */

// 1. ROOT 					==============================
// 2. TYPOGRAPHY 			==============================
// 3. COLOUR 				==============================
// 4. TEXTURE 				==============================
// 5. ELEMENTS 				==============================
// 6. LAYOUT 				==============================
// 7. VENDOR-SPECIFIC 		==============================
// 8. MODERNIZR 			==============================
// 9. TEMPLATE SPECIFICS 	==============================

/* Navbar =================================================== */
.navbar {
     //position: fixed;
     width: 100%;
    .logo {
      float: left;
    }
    .nav {
        margin-left: 52%;
        li {
          float: left;
          display: inline-block;
        }
    }
}

/* Hero =================================================== */
.jumbo { 
    .text{
    top: 20px;
    }
    h1.top {
       font-size: 52px;
       padding-top: 1rem;
       margin-left: 0;
       }
    h1.bot {
       font-size: 42px;
       }
}

/* grids grids-two =================================================== */
.grid-1{
  .text{
    top: 33%;
      left: 25%;
    h1.etiquet{
      color: #fff;
      font-size: 46px;
      font-style: italic;
      font-weight: 100;
      text-transform: uppercase;
      margin: 10px 0, 0, 0;
      line-height: .8em;
      margin-bottom: .3rem;
    }
  }
}

/* Footer =================================================== */


/*  =================================================== */