// ==========================================================

// 320 and Up by Andy Clarke
// Version: 3.0
// URL: http://stuffandnonsense.co.uk/projects/320andup/
// Apache License: v2.0. http://www.apache.org/licenses/LICENSE-2.0

// ==========================================================




/* Navigation =================================================== */
.menu-button{
	display: block;
	float: right;
	border: 5px solid #660066;
	background-color: #444;
	padding: 7px 10px;
	margin: 1px;

	.icon-bar {
		display: block;
		width: 18px;
		height: 2px;
		margin-top: 3px;
		background-color: #fff;
		@include rounded(1px);
	}

}
		
.navbar {
	background: #0A0A0F;
	overflow: hidden;
	max-height:44px;
	padding-top: .3rem;


	@include transition(max-height .5s);
	&.open{
		max-height: 220px;
		}
		.navbar-inner {
		.logo{
			display: block;
			padding: 9px 15px;
			font-size: 20px;
			font-weight: 100;
			letter-spacing: .30rem;
			font-style: italic;
			text-decoration: none;
			text-transform: uppercase;
			color:#fdfcfb;
			margin-left:2rem;
			margin-bottom: 4px;
		}
		.logo:hover{
				color:#999999;
			}
		.nav {
			margin-bottom: 0;
			list-style:none;
			a {
			@extend .logo;
		 	}
		 	
		}
	}
}




/* Hero =================================================== */
.hero {
	position: relative;
	text-align: left;
	height:215px;
	img{
	 	top: 0;
	 	width: 100%;
	 	max-width: 100%;
	 	max-height: 400px;
 	}
	h1 {
	 color: #fff;
	 font-size: 16px;
 	 font-weight: 100;
 	 text-transform: uppercase;
	 margin: 5px 0, 0, 0;
	 line-height: .8em;
	 margin-bottom: .3rem;
	}
	.text{
		position: absolute;
		top: 2px;
		left: 20px;
		h1.top{
			font-style: italic;
			padding-top:1rem;
			padding-bottom: .1rem;
			top:0;
			left: 0;
		}
		h1.bot{
			padding-bottom: 5rem;
			font-style: lighter;
		}
	}
}


/* PROJECT ABOUT STYLE =================================================== */
.grids-two{
	position: relative;
	text-align: left;

	.text{
		position: absolute;
		text-align: justify;
		color:#fdfcfb;
		font-size:25px;
		width: 70%;
		background-color:rgba(0,0,0,0.5);
		padding:2rem;
		border-radius: 15px 0 15px 0;
		display:inline-block;
		margin-bottom: 1em;
		p{
			//margin-bottom:0;
		}
	}
}


/* Portfolio Gallery =================================================== */

.grid-1{
	position: relative;
	overflow: hidden;
	.text{
	position: absolute;
    top: 7%;
    left: 7.5%;
		h1.etiquet{
			color: #fff;
			font-style: italic;
			font-size: 26px;
		 	font-weight: 100;
		 	text-transform: uppercase;
			line-height: .8em;
			margin-bottom: .3rem;
		}
	}

}


/* Sliding Doors =================================================== */

/* @group Sliding Doors */
	#slidingDoors {
		/*Applying the Background Images*/
		background-image: 
		url('../assets/imgs/portf/article_2/gate_left.png'), 
		url('../assets/imgs/portf/article_2/gate_right.png'), 
		url('../assets/imgs/portf/article_2/Work2_A_320.png');
		background-repeat: no-repeat;
		height: 190px;
		width: 100%;
		/*Positioning the Background Images*/
		background-position: -160px 0px, 160px 0px, 0px 0px;
		
		/*Transition Parameters*/
		-webkit-transition: all 0.9s ease-in-out;
		-moz-transition: all 0.9s ease-in-out;
		-o-transition: all 0.9s ease-in-out;
		-ms-transition: all 0.9s ease-in-out;
		transition: all 0.9s ease-in-out;
	}
	#slidingDoors:hover {
		background-position: -320px 0px, 320px 0px, 0px 0px;
	}
	


/* Sliding covers =================================================== */
		.cover {
		  position: relative;
		  width: 100%;
		  height: 906px;
		  background-color: red;
		  z-index: 1;
		  
		  -webkit-box-shadow: 0 2px 10px rgba(0,0,0,0.3);
		  -mox-box-shadow: 0 2px 10px rgba(0,0,0,0.3);
		  box-shadow: 0 2px 10px rgba(0,0,0,0.3);


}

.cover h1 {
	position: absolute;
    top: 33%;
    left: 7.5%;
  	color: #fff;
	font-style: italic;
	font-size: 26px;
	font-weight: 100;
	text-transform: uppercase;
	line-height: .8em;
	margin-bottom: .3rem;
}


.left_gate {
  position: absolute;
  background: #41B5F0;
  bottom: 0; right: 50%; left: 0; top: 0;
  
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -ms-transition: all 0.5s ease-out;
  -o-transition:all 0.5s ease-out;
  transition: all 0.5s ease-out;
  
}
.cover:hover .left_gate {
  right: 100%; left: -50%;
}
.right_gate {
  position: absolute;
  background: #0C5CA3;
  bottom: 0;
  left: 50%;
  right: 0;
  top: 0;
  
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -ms-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
.cover:hover .right_gate {
  left: 100%; right: -50%;
}

/* =================================================== */



/* Footer =================================================== */
footer {
	//position: absolute;
	float: left;
	width: 100%;
	bottom: 0;
	padding: 10px 0; 
	//text-align: center; 
	background: #1b1b1b; 
	color: $white; 
	overflow: auto;
    .social {
    	float: left;
       list-style: none;
       margin: 0 auto;
       width: 90%;
       	li{
	       	float: left; 
	       	height: 40px; 
	       	width: 40px; 
	       	list-style: none; 
	       	border-radius: 10%; 
	       	background: #000; 
	       	margin-left: 10px; 
	       	a{
	        font-size: 30px;
	        padding-top: 10px;
	        padding-left: 2px;
	        color: $lightgrey;
	           &:visited {
	             color: $grey;
	             text-decoration: none;
	           }
	           &:hover{
	             text-decoration: none;
	             color: #fff;
	            } 
        	}
    	}
       li:last-child {
         margin-right: 0;
         float: right;
       }
	} 
	.toplink{
		a{
		float: right;
		font-size: 25px;
      	margin-right: 1em;
      	color: #fff;
    	}
	} 
}
		/* =================================================== */
